{% extends "base.html" %}
<!--Line Separator-->
{% load static %}
<!--Line Separator-->
{% block content %}

<main id="main">
  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img src="{% static 'img/portfolio-details-1.jpg' %}" alt="" />
              </div>

              <div class="swiper-slide">
                <img src="{% static 'img/portfolio-details-2.jpg' %}" alt="" />
              </div>

              <div class="swiper-slide">
                <img src="{% static 'img/portfolio-details-3.jpg' %}" alt="" />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul class="ml-4">
              <li><strong>Category</strong>: Web design</li>
              <li><strong>Client</strong>: ASU Company</li>
              <li><strong>Project date</strong>: 01 March, 2020</li>
              <li>
                <strong>Project URL</strong>: <a href="#">www.example.com</a>
              </li>
            </ul>
          </div>
          <div class="portfolio-description">
            <h4 class="mt-3">This is an example of portfolio detail</h4>
            <h6 class="mt-4">
              Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque
              inventore commodi labore quia quia. Exercitationem repudiandae
              officiis neque suscipit non officia eaque itaque enim. Voluptatem
              officia accusantium nesciunt est omnis tempora consectetur
              dignissimos. Sequi nulla at esse enim cum deserunt eius.
            </h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Details Section -->
</main>
<!-- End #main -->

{% comment %}
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endcomment %}
<script src="{% static 'js/glightbox/glightbox.min.js' %}"></script>
<script src="{% static 'js/swiper/swiper-bundle.min.js' %}"></script>
<!-- Template Main JS File -->
<script src="{% static 'js/portfolio/main.js' %}"></script>

{% endblock content %}
