<!-- pagination starts -->
<nav aria-label="...">
  <ul class="pagination flex-wrap justify-content-center">
    <li class="page-item disabled">
      {% if posts.has_previous %}
        <li class="page-item">
          <a class="page-link effect-lily tm-post-link tm-color-primary" href="{{ request.path }}?page={{ posts.previous_page_number }}">Prev</a>
        </li>
      {% endif %}
      {% if posts.number > 3 %}
        <li class="page-item">
          <a class="page-link effect-lily tm-post-link tm-color-primary" href="{{ request.path }}?page=1">1</a>
        </li>
      {% endif %}
      {% if posts.number > 4 %}
          <li class="page-item">
          <span class="page-link effect-lily tm-post-link tm-color-primary">....</span>
          </li>
      {% endif %}
    </li>

    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <li class="page-item active">
          <span class="page-link effect-lily tm-post-link tm-color-primary" style="background-color: #0CC">
            {{ i }}
            <span class="sr-only"></span>
          </span>
        </li>
        {% elif i > posts.number|add:'-3' and i < posts.number|add:'3' %}
          <li class="page-item">
            <a class="page-link effect-lily tm-post-link tm-color-primary" href="{{ request.path }}?page={{ i }}">{{ i }}</a>
          </li>
      {% endif %}
    {% endfor %}

    {% if posts.has_next %}
      {% if posts.number < posts.paginator.num_pages|add:'-3' %}
          <li class="page-item">
              <span class="page-link effect-lily tm-post-link tm-color-primary">....</span>
          </li>
          <li class="page-item">
              <a class="page-link effect-lily tm-post-link tm-color-primary" href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a>
          </li>
      {% elif posts.number < posts.paginator.num_pages|add:'-2' %}
          <li class="page-item">
              <a class="page-link effect-lily tm-post-link tm-color-primary" href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a>
          </li>
      {% endif %}  
      <li class="page-item">
        <a class="page-link effect-lily tm-post-link tm-color-primary" href="?page={{ posts.next_page_number }}"> Next</a>
      </li>
    {% endif %}
  </ul>
</nav>
<br>
<!-- pagination end -->